<h4 class="card-subtitle text-secondary">Comment for <em>"{{post_title}}"</em> by <span class="text-warning">{{post_author}}</span></h4>
<p>
    <span>Created by <strong class="text-warning">{{author}}</strong> on <em>{{format_date date_created}}</em></span>
</p>
<p class="card-text">{{content}}.</p>