<div class="col-sx-12 col-md-10 col-lg-8 mx-auto">
    <div class="card border-dark">
        <div class="card-body">
            <p>
            <h3 class="card-title text-secondary">{{title}}</h3>
            <h6 class="card-subtitle mb-2 text-muted">Post #{{id}}</h6>
            <span>Created by <strong class="text-warning">{{author}}</strong> on <em>{{format_date date_created}}</em></span>
            </p>
            <p class="card-text">{{content}}</p>
        </div>
    </div>
</div>